<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/tabs/home" class="btnBg btnBgLight"></ion-back-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>


  <div class="container">
      <app-banner [bannerImages]="banners()"></app-banner>

      @if(catgList()) {

      <app-list-heading heading="Categories"></app-list-heading>
      <app-categories [categories]="catgList()"></app-categories>

      }

  </div>

</ion-content>