<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/tabs/home" class="btnBg btnBgLight"></ion-back-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <br /><br /><br />
  <ion-content>
    <div class="container">
      <!-- <app-banner [bannerImages]="banners()"></app-banner> -->

      @if(brandsList()) {

      <app-list-heading heading="Brands"></app-list-heading>
      <app-brands [brands]="brandsList()"></app-brands>

      }

    </div>

  </ion-content>